<!-- Partie gauche : Image / Illustration école -->

    <!-- Image école -->
    <img
      src="assets/images/school.png"
      alt="School illustration"
      class="absolute inset-0 w-full h-full object-cover"
    />

    <!-- Overlay -->
    <div class="absolute inset-0 bg-blue-900/50"></div>

    <!-- Texte sur l'image -->
    <div class="relative z-10 text-center text-white px-10">
      <h1 class="text-4xl font-bold mb-4">
        Gestion Scolaire
      </h1>

      <p class="text-lg">
        Une plateforme moderne pour gérer
        les inscriptions, paiements,
        notes et la vie scolaire.
      </p>
    </div>

  