<app-page-layout>
  <app-page-header [title]="'trimestrePage.listTitle' | translate">
    <app-button type="button" variant="primary" prefixIcon="+"  [routerLink]="['/trimestre/new']" >
        {{ 'trimestrePage.addTrimestre' | translate }}
      </app-button>
  </app-page-header>
    <!-- Tableau -->
    <app-table
        [empty]="trimestres().length===0"
        [emptyColspan]="3"
        [emptyMessage]="'trimestrePage.noTrimestre' | translate"
      >
        <th
          table-head
          scope="col"
          class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 dark:text-gray-100 uppercase"
        >
          {{ 'trimestrePage.name' | translate }}
        </th>
        <th 
          table-head
          scope="col"  
          class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 dark:text-gray-100 uppercase"
        >
          {{ 'trimestrePage.year' | translate }}
        </th>
        <th 
          table-head
          scope="col"
          class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 dark:text-gray-100 uppercase flex justify-center"
        >
          {{ 'common.actions' | translate }}
        </th>

        @for(trimestre of trimestres(); track trimestre.id) {
          <tr table-body class="hover:bg-gray-50 dark:hover:bg-gray-700/50 transition-colors">
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:text-gray-300 uppercase">
              {{ trimestre.libelleTrimestre }}
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:text-gray-300 uppercase">
              {{ trimestre.anneeScolaire.libelleAcademicYear }}
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:text-gray-300 uppercase">
              <div class="flex justify-center gap-3">
                    <app-button type="button" variant="secondary" [routerLink]="[ trimestre.id!]" >
                  {{ 'common.edit' | translate }}
                </app-button>
                <app-button type="button" variant="danger" (click)="deleteTrimestres(trimestre.id!)">
                  {{ 'common.delete' | translate }}
                </app-button>
              </div>
                
            </td>
          </tr>
        }
    </app-table>
</app-page-layout>
